@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities {
  .absolute-top-left-above {
    background-color: coral;
  }
} */
@layer base {
  html {
    @apply font-sans;
  }
}

body,
html {
  overflow-x: hidden;
}

input {
  font-weight: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* TIPTAP TEXT EDITOR */

/* * apply placeholder to first child only (workaround) */
.ProseMirror .is-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #ced4da;
  pointer-events: none;
  height: 0;
}

/* * workaround for tailwind 'prose' applying margin to all p tags, and ProseMirror creating p tags within li tags */
.ProseMirror li p {
  margin-top: 0;
  margin-bottom: 0;
}

/* @layer components {
  .custom-outline {
    border: none;
    border-radius: 2pt;
    box-shadow: 0 0 0 1pt grey;
    outline: none;
    transition: 0.1s;
  }
} */

/* ProseMirror Custom Classes */
.prose-img-0 {
  object-position: 50% 0%;
}

.prose-img-10 {
  object-position: 50% 10%;
}

.prose-img-20 {
  object-position: 50% 20%;
}

.prose-img-30 {
  object-position: 50% 30%;
}

.prose-img-40 {
  object-position: 50% 40%;
}

.prose-img-50 {
  object-position: 50% 50%;
}

.prose-img-60 {
  object-position: 50% 60%;
}

.prose-img-70 {
  object-position: 50% 70%;
}

.prose-img-80 {
  object-position: 50% 80%;
}

.prose-img-90 {
  object-position: 50% 90%;
}

.prose-img-100 {
  object-position: 50% 100%;
}
