@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities {
  .absolute-top-left-above {
    background-color: coral;
  }
} */
@layer base {
  html {
    @apply font-sans;
  }
}

@layer utilities {
  @variants responsive {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

body,
html {
  overflow-x: hidden;
}

input {
  font-weight: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* TIPTAP TEXT EDITOR */

/* * apply placeholder to first child only (workaround) */
.ProseMirror .is-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #ced4da;
  pointer-events: none;
  height: 0;
}

/* * workaround for tailwind 'prose' applying margin to all p tags, and ProseMirror creating p tags within li tags */
.ProseMirror li p {
  margin-top: 0;
  margin-bottom: 0;
}

/* @layer components {
  .custom-outline {
    border: none;
    border-radius: 2pt;
    box-shadow: 0 0 0 1pt grey;
    outline: none;
    transition: 0.1s;
  }
} */

/* PROSEMIRROR CUSTOM CLASSES */

/* positions */
.prose-img-p-0 {
  object-position: 50% 0%;
}

.prose-img-p-10 {
  object-position: 50% 10%;
}

.prose-img-p-20 {
  object-position: 50% 20%;
}

.prose-img-p-30 {
  object-position: 50% 30%;
}

.prose-img-p-40 {
  object-position: 50% 40%;
}

.prose-img-p-50 {
  object-position: 50% 50%;
}

.prose-img-p-60 {
  object-position: 50% 60%;
}

.prose-img-p-70 {
  object-position: 50% 70%;
}

.prose-img-p-80 {
  object-position: 50% 80%;
}

.prose-img-p-90 {
  object-position: 50% 90%;
}

.prose-img-p-100 {
  object-position: 50% 100%;
}

/* heights */
.prose-img-h-200 {
  height: 200px;
}

.prose-img-h-300 {
  height: 300px;
}

.prose-img-h-400 {
  height: 400px;
}

.prose-img-h-500 {
  height: 500px;
}

.prose-img-h-600 {
  height: 600px;
}

/* videos  */
.prose-video-wrapper {
  position: relative;
}

.prose-video-overlay {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
